# Ignore LaTeX build files.
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.lol
*.out
*.pdf
*.run.xml
*.synctex
*.synctex.gz
*.acn
*.glo
*.ist
*.lof
*.lot
*.toc
*.html
*.css
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.tmp
*.xref
*.png


# minted package
_minted-main/

main.acr
main.alg
main.glg
main.gls
